@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: poppins, sans-serif;
}

.loading{
    max-width: 50%;
    line-height: 1.4;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.loading-author {
    font-weight: normal;
    font-size: 0.9rem;
    color: rgba(189, 189, 189, 1);
    margin: 0.9rem 0 2rem 0;
    display: block;
}

.loading-animation {
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 5px solid rgba(189, 189, 189, 0.25);
    border-bottom-color: rgba(3, 155, 229, 1);
    border-left-color: rgba(3, 155, 229, 1);
    border-radius: 50%;
    animation: rotate 600ms infinite linear;
}

@keyframes rotate { to {
    transform: rotate(1turn); 
} }

@media only screen and (max-width: 769px){
    .loading {
        max-width: 90%;
        font-size: 1rem;
        padding: 1rem;
    }
    .loading-animation {
        width: 28px;
        height: 28px;
        margin-bottom: 1rem;
    }
    .loading-author {
        width: 100%;
        font-size: 0.8rem;
    }
}